body {
    border: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

body[data-theme="dark"] {
    background-color: #1f1f1f;
    color: #ffffff8c;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-style: none;
    border-radius: 6px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.25s background-color;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

body[data-theme="dark"] ::-webkit-scrollbar-track {
    background-color: #1f1f1f;
}

body[data-theme="dark"] ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
}

body[data-theme="dark"] ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

a.underline {
    text-decoration: underline;
}

input:focus,
select:focus {
    outline: none;
}

div.control {
    display: block;
    position: fixed;
    background-color: #f9f9f9;
    top: 0;
    width: 100%;
    height: 30px;
    padding: 25px 0;
    z-index: 9999;
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
    border-bottom: 1px solid #ffffff1a;
}

body[data-theme="dark"] div.control {
    background-color: #252526;
}

div.control::after {
    content: "";
    display: table;
    clear: both;
}

div.control .center {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
}

div.control .songinfo {
    float: left;
    margin-left: 80px;
    margin-top: 5px;
}

div.control #songname,
div.control #songartist {
    display: block;
    -webkit-app-region: no-drag;
}

body[data-theme="dark"] div.control #songname {
    color: #e5e5e5;
}

div.control #songartist {
    color: #808080;
    font-size: 13px;
}

div.control #songlogo {
    float: left;
    width: 40px;
    border-radius: 8px;
    user-select: none;
    pointer-events: none;
    -webkit-app-region: no-drag;
}

div.windowcontrols {
    float: left;
    margin-left: 10px;
    margin-top: -10px;
    user-select: none;
    -webkit-app-region: no-drag;
}

div.windowcontrols::after {
    content: "";
    display: table;
    clear: both;
}

div.windowcontrols .dot {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-left: 5px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

div.control div.windowcontrols .dot.close {
    background-color: rgb(255, 92, 92);
}

div.control div.windowcontrols .dot.maximize {
    background-color: rgb(0, 202, 86);
}

div.control div.windowcontrols .dot.minimize {
    background-color: rgb(255, 189, 76);
}

div.control:hover div.windowcontrols .dot.notavailable {
    cursor: not-allowed;
}

div.windowcontrols .dot:hover:not(.notavailable) {
    filter: brightness(40%);
}

div.content {
    height: 425px;
    overflow-y: auto;
    margin-top: 85px;
    padding: 15px;
}

div.content form .setting {
    position: relative;
    display: flow-root;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.08);
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

div.content form .setting > * {
    position: relative;
    display: inline-block;
}

div.content .settings {
    position: relative;
    display: block;
    width: 65%;
    margin: 0 auto;
    margin-bottom: 20px;
    box-sizing: border-box;
}

div.content form .settingsLeft {
    float: left;
    width: 45%;
    max-width: 45%;
    margin-right: 5%;
}

div.content form .settingsRight {
    display: inline-block;
    width: 45%;
    max-width: 45%;
}

div.extra {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

div.extra-left {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

div.extra span,
div.extra-left span {
    color: grey;
    cursor: pointer;
    vertical-align: top;
    margin-left: 10px;
}

div.extra span span {
    margin-left: 0px;
}

div.extra-left span {
    margin-left: 0;
    margin-right: 10px;
}

div.extra span svg,
div.extra-left span svg {
    vertical-align: inherit;
}

div.extra span progress {
    vertical-align: middle;
    -webkit-appearance: none;
    appearance: none;
    width: 150px;
    height: 8px;
    border-width: 1px;
    border-color: #ffffff1a;
    border-style: solid;
    border-radius: 50px;
}

div.extra span progress::-webkit-progress-bar {
    background-color: #444444;
    border-radius: 50px;
}

div.extra span progress::-webkit-progress-value {
    background-color: #ffffff;
    border-radius: 50px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

div.modal {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000;
    background-color: #ffffff8c;
    border-color: #e5e5e5;
    border-radius: 18px;
    border-width: 1.5px;
    border-style: solid;
    overflow-y: auto;
    padding: 20px;
    max-width: 85%;
    max-height: 60%;
}

div.modal::-webkit-scrollbar {
    width: 0;
}

body.modalIsOpen div.content {
    filter: blur(5px) grayscale(90%);
    user-select: none;
    pointer-events: none;
}

body[data-theme="dark"] div.modal {
    background-color: #2d2d2d;
    border-color: #111111;
}

div.modal .title {
    display: block;
}

div.modal .description {
    display: block;
    text-align: left;
    white-space: pre-line;
}

div.modal .description ul {
    margin-top: 0;
    margin-bottom: 0;
}

div.modal .description p {
    margin-top: 0;
    margin-bottom: 0;
}

div.modal .description a {
    margin-top: 0;
    margin-bottom: 0;
    color: black;
    cursor: pointer;
}

body[data-theme="dark"] div.modal .description a {
    color: #ffffff8c;
}

div.modal .btn {
    display: inline-block;
    border-radius: 8px;
    padding: 3px;
    background-color: #111111;
    color: #ffffff;
    width: 180px;
    max-width: 180px;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.2s filter;
}

div.modal .btn:hover {
    filter: brightness(90%);
}

div.modal .btn.btn-last {
    margin-right: 0px;
}

div.modal .btn.btn-red {
    background-color: #ff3d3d;
}

div.modal .btn.btn-green {
    background-color: #57af31;
}

div.modal .btn.btn-grey {
    background-color: #404040;
}

div.modal .btn.btn-rainbow {
    background-image: linear-gradient(
        90deg,
        #00c0ff 0%,
        #ffcf00 49%,
        #fc4f4f 80%,
        #00c0ff 100%
    );
}

div.modal .btn.btn-usaflag {
    background-image: url("assets/app/usaflag.png");
    background-size: cover;
    transition: 0.4s background-image;
}

div.modal .btn.btn-usaflag:hover {
    background-image: url("assets/app/usaflag.gif");
}

div.setting input[type="text"],
div.setting select {
    display: block !important;
    background-color: transparent;
    border-color: #e5e5e5;
    border-radius: 8px;
    border-width: 1.5px;
    border-style: solid;
    padding: 5px;
    width: 40%;
    float: right;
    max-width: 60%;
    max-height: 60%;
}

body[data-theme="dark"] div.setting input[type="text"],
body[data-theme="dark"] div.setting select {
    background-color: #1d1d1d;
    border-color: #2d2d2d;
    color: white;
}

div.setting label {
    display: block;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    position: relative;
    width: 35px;
    height: 21px;
    appearance: none;
    float: right;
    outline: none;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #d9dadc;
    border-radius: 50px;
    box-shadow: inset -14px 0 0 0 #ffffff;
    transition-duration: 200ms;
}

input[type="checkbox"]:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

input[type="checkbox"]:after {
    position: absolute;
    width: 18.2px;
    height: 18.2px;
    content: "";
    top: 1px;
    left: 1px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"]:checked {
    border-color: #4ed164;
    box-shadow: inset 14px 0 0 0 #4ed164;
}

input[type="checkbox"]:checked:after {
    left: 14px;
    box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
}

/* KEYFRAMES */
@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}
