body {
    border: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    --color: #000;
    --border-color: #0000001a;
}

body[data-theme="dark"] {
    background-color: #1f1f1f;
    color: #ffffff8c;
    --color: #ffffff8c;
    --border-color: #ffffff1a;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-style: none;
    border-radius: 6px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.25s background-color;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

body[data-theme="dark"] ::-webkit-scrollbar-track {
    background-color: #1f1f1f;
}

body[data-theme="dark"] ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
}

body[data-theme="dark"] ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.content iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

a.underline {
    text-decoration: underline;
}

input:focus,
select:focus {
    outline: none;
}

div.control {
    display: block;
    position: fixed;
    background-color: #f9f9f9;
    top: 0;
    width: 100%;
    height: 30px;
    padding: 25px 0;
    z-index: 9999;
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
    border-bottom: 1px solid var(--border-color);
}

body[data-theme="dark"] div.control {
    background-color: #252526;
}

div.control::after {
    content: "";
    display: table;
    clear: both;
}

div.control .center {
    display: flex;
    position: absolute;
    width: 20%;
    justify-content: space-between;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.control .center div:not(:nth-child(2)) {
    -webkit-app-region: no-drag;
}

div.control #thumbsUp {
    color: rgb(76, 175, 80);
}

div.control #thumbsDown {
    color: rgb(244, 67, 54);
}

body.offline #thumbsUp,
body.offline #thumbsDown {
    display: none;
}

div.control #thumbsUp,
div.control #thumbsDown {
    cursor: pointer;
    opacity: 0.75;
    transition: 0.25s opacity;
}

div.control #thumbsUp:hover,
div.control #thumbsDown:hover {
    opacity: 1;
}

div.control .logo {
    float: left;
    width: 40px;
    border-radius: 8px;
    user-select: none;
    pointer-events: none;
}

div.windowcontrols {
    float: left;
    margin-left: 10px;
    margin-top: -10px;
    user-select: none;
    -webkit-app-region: no-drag;
}

div.windowcontrols::after {
    content: "";
    display: table;
    clear: both;
}

div.windowcontrols .dot {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-left: 5px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

div.control div.windowcontrols .dot.close {
    background-color: rgb(255, 92, 92);
}

div.control div.windowcontrols .dot.maximize {
    background-color: rgb(0, 202, 86);
}

div.control div.windowcontrols .dot.minimize {
    background-color: rgb(255, 189, 76);
}

div.control:hover div.windowcontrols .dot.notavailable {
    cursor: not-allowed;
}

div.windowcontrols .dot:hover:not(.notavailable) {
    filter: brightness(40%);
}

div.content {
    height: 425px;
    overflow-y: auto;
    margin-top: 85px;
    padding: 15px;
    transition: 0.25s filter;
}

.settings_category:not(:last-of-type) {
    margin-bottom: 50px;
}

.category__header {
    text-transform: uppercase;
}

.settings_category .settings_setting:first-of-type {
    border-radius: 8px 8px 0 0;
}

.settings_category .settings_setting:last-of-type {
    border-radius: 0 0 8px 8px;
}

.settings_category .settings_setting:not(:last-of-type):after {
    position: absolute;
    width: calc(100% - 30px);
    height: 1px;
    bottom: 0;
    right: 0;
    content: "";
    background: var(--border-color);
}

.settings_category .settings_setting label:first-of-type {
    margin-left: 20px;
}

div.content form .settings_setting {
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.08);
    padding: 10px;
    box-sizing: border-box;
}

.setting_main {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.setting_note {
    margin-top: 7.5px;
    font-size: 12px;
    padding: 0 20px;
}

.setting_note hr {
    width: 50%;
    margin: 10px 0;
    border: 0;
    border-top: 1px solid var(--border-color);
}

.setting_note a {
    color: #fa586a;
    text-decoration: none;
}

div.content form .settings_setting .setting_main > * {
    position: relative;
    display: inline-block;
}

.settings_setting .resetButton {
    display: block !important;
    position: absolute !important;
    opacity: 0.75;
    width: 16px;
    height: 16px;
    left: -2px;
    color: #5194da;
    cursor: pointer;
    transition: opacity 0.25s ease;
}

.settings_setting .resetButton:hover {
    opacity: 1;
}

.settings_setting_info label:first-of-type:before {
    display: block;
    position: absolute;
    content: "\f05a";
    width: 15px;
    height: 15px;
    left: -21px;
    color: #5194da;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}

div.content .settings {
    position: relative;
    display: block;
    width: 65%;
    margin: 0 auto 20px;
    box-sizing: border-box;
}

div.extra {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

div.extra-left {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

div.extra span,
div.extra-left span {
    color: grey;
    cursor: pointer;
    vertical-align: top;
    margin-left: 10px;
}

div.extra-left span {
    margin-left: 0;
    margin-right: 10px;
}

div.extra span i,
div.extra-left span svg {
    width: 25px;
    color: grey;
    font-size: 20px;
    vertical-align: inherit;
    margin-right: -3px;
    transition: color 0.25s ease;
}

div.extra span i:hover {
    color: #e5e5e5;
}

div.extra span progress {
    vertical-align: middle;
    -webkit-appearance: none;
    appearance: none;
    width: 150px;
    height: 8px;
    border-width: 1px;
    border-color: #ffffff1a;
    border-style: solid;
    border-radius: 50px;
}

div.extra span progress::-webkit-progress-bar {
    background-color: #444444;
    border-radius: 50px;
}

div.extra span progress::-webkit-progress-value {
    background-color: #ffffff;
    border-radius: 50px 0 0 50px;
}

div.modal {
    position: absolute;
    display: block;
    max-width: 85%;
    max-height: 60%;
    top: 50%;
    left: 50%;
    padding: 20px;
    z-index: 1000;
    overflow-y: auto;
    margin-right: -50%;
    text-align: center;
    border-radius: 18px;
    transform: translate(-50%, -50%);
    border: 1px solid hsla(0, 0%, 71%, 0.56);
    background-color: hsla(0, 0%, 71%, 0.37);
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
}

div.modal::-webkit-scrollbar {
    width: 0;
}

div.modal img {
    width: 100%;
    border-radius: 6px;
}

body.modalIsOpen div.content {
    filter: blur(15px) grayscale(90%);
    user-select: none;
    pointer-events: none;
}

body[data-theme="dark"] div.modal {
    background-color: hsl(0deg 0% 23% / 37%);
}

div.modal .title {
    display: block;
}

div.modal .description {
    display: block;
    text-align: left;
    white-space: pre-line;
}

div.modal .description ul {
    margin-top: 0;
    margin-bottom: 0;
}

div.modal .description p {
    margin-top: 0;
    margin-bottom: 0;
}

div.modal .description a {
    margin-top: 0;
    margin-bottom: 0;
    color: black;
    cursor: pointer;
}

body[data-theme="dark"] div.modal .description a {
    color: #ffffff8c;
}

div.modal .btn {
    display: inline-block;
    border-radius: 8px;
    padding: 10px 15px;
    background-color: #111111;
    color: #ffffff;
    width: 180px;
    max-width: 180px;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.2s filter;
}

div.modal .btn:hover {
    filter: brightness(90%);
}

div.modal .btn:last-of-type {
    margin-right: 0;
}

div.modal .btn.btn-primary,
.cfgButton {
    background-color: #5194da;
}

div.modal .btn.btn-red,
.cfgButton.red {
    background-color: #da5151;
}

div.modal .btn.btn-green,
.cfgButton.green {
    background-color: #77cb54;
}

div.modal .btn.btn-grey,
.cfgButton.grey {
    background-color: #404040;
}

div.modal .btn.btn-rainbow,
.cfgButton.rainbow {
    background-image: linear-gradient(
        90deg,
        #00c0ff 0%,
        #ffcf00 49%,
        #fc4f4f 80%,
        #00c0ff 100%
    );
}

div.modal .btn.btn-usaflag {
    background-image: url("assets/app/usaflag.png");
    background-size: cover;
    transition: 0.4s background-image;
}

div.modal .btn.btn-usaflag:hover {
    background-image: url("assets/app/usaflag.gif");
}

.settings_setting input[type="text"],
.settings_setting select {
    display: block !important;
    background-color: transparent;
    border-color: var(--border-color);
    border-radius: 8px;
    border-width: 1.5px;
    border-style: solid;
    padding: 5px;
    width: 40%;
    float: right;
    max-width: 60%;
    max-height: 60%;
}

body[data-theme="dark"] .settings_setting input[type="text"],
body[data-theme="dark"] .settings_setting select {
    background-color: #1d1d1d;
    border-color: var(--border-color);
    color: white;
}

.cfgSwitch,
.cfgButton,
.settings_setting input[type="text"],
.settings_setting select {
    margin-right: 20px;
}

.cfgButton {
    cursor: pointer;
    border: none;
    border-radius: 6px;
    padding: 7.5px 15px;
    color: white;
    transition: filter 0.25s ease;
}

.cfgButton:hover {
    filter: brightness(90%);
}

.cfgSwitch {
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

input:disabled,
select:disabled,
.cfgSwitch:has(input:disabled, select:disabled),
.cfg_loading {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

.cfgSwitch i {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 26px;
    background-color: #e6e6e6;
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
}

.cfgSwitch i::before {
    position: absolute;
    width: 42px;
    height: 22px;
    left: 0;
    content: "";
    border-radius: 11px;
    background-color: #fff;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.25s linear;
}

body[data-theme="dark"] .cfgSwitch i::before,
body[data-theme="dark"] .cfgSwitch i {
    background-color: #2d2d2d;
}

body[data-theme="christmas"] .cfgSwitch i::before,
body[data-theme="christmas"] .cfgSwitch i {
    background-color: #bb2528;
}

.cfgSwitch i::after {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 0;
    content: "";
    border-radius: 11px;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
}

body[data-theme="christmas"] .cfgSwitch i::after {
    background-color: #f8b229;
}

.cfgSwitch:active i::after {
    width: 28px;
    transform: translate3d(2px, 2px, 0);
}

.cfgSwitch:active input:checked + i::after {
    transform: translate3d(16px, 2px, 0);
}

.cfgSwitch input {
    display: none;
}

.cfgSwitch input:checked + i {
    background-color: #4bd763;
}

body[data-theme="christmas"] .cfgSwitch input:checked + i {
    background-color: #146b3a;
}

.cfgSwitch input:checked + i::before {
    transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}

.cfgSwitch input:checked + i::after {
    transform: translate3d(22px, 2px, 0);
}

.notes:has(.note) {
    margin-bottom: 50px;
}

.notes .note:not(:last-of-type) {
    margin-bottom: 25px;
}

.note {
    position: relative;
    padding: 15px 20px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.08);
}

.noteTitle {
    margin-top: 0;
}

.noteDescription {
    margin-bottom: 0;
}

/* KEYFRAMES */
@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}

@keyframes cache-loading {
    0% {
        width: 0;
        border-top-color: #5194da;
    }
    95% {
        width: 50%;
    }

    100% {
        width: 0;
        border-top-color: #5194da;
    }
}
